* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

.header {
    width: 100%;
    height: 100vh;
    background-color: #ccdef0;
    background-image: radial-gradient(circle 675px at center, #df6965 0%, #228192 100%);
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.nav-wraper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    margin-bottom: 90px;
}

.logo {
    font-family: "Montserrat - Black";
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
    color: #000000;
}

.logo {
    color: #5abb33;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav__item {
    margin-right: 50px;
}

    .nav__item:last-child {
        margin-right: 0;
    }

.nav__link {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}

    .nav__link:hover {
        text-decoration: underline;
    }

.header-content {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-desc {
    width: 500px;
    padding-top: 90px;
}

.sign__content {
    background-color: #15e7e050;
    width: 100%;
    max-width: 430px;
    padding-left: 100px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 50px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 15px 100px 15px 100px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    background: #00000017;
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 4px solid rgba(25, 0, 250, 0.562);
    border-radius: 15px 100px 15px 100px;
}

.form-control {
    margin-bottom: 15px;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-block {
    display: block;
    width: 65%;
}


.btn-group-lg > .btn, .btn-lg {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}


.heade__title {
    font-family: "ExtraBolt";
    font-weight: 800;
    font-size: 48px;
    line-height: 1.3;
}

.header__text {
    font-size: 20px;
    line-height: 1.7;
    font-weight: 500;
}

.header__btn {
    display: inline-block;
    height: 65px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 60px;
    background-color: #fadb35;
    background-image: linear-gradient(to top,#ffcc00, #fadb60 100%);
    color: #000000;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 65px;
}


.header-photo {
    width: 670px;
}

.header__social {
}

.header__social-item {
    font-size: 27px;
    color: #000000;
    text-decoration: none;
    margin-right: 30px;
}

    .header__social-item:last-child {
        margin-right: 0;
    }

    .header__social-item:hover {
        opacity: 0.7;
    }

.footer {
    width: 100%;
    height: 114px;
    background-color: #ee2727;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .footer::before {
        content: "";
        display: table;
    }
